In [1]:
import numpy as np
import pandas as pd

In [4]:
np.random.seed(100)
my_data = np.random.randint(0, 101, (4, 3))
my_data

array([[ 8, 24, 67],
       [87, 79, 48],
       [10, 94, 52],
       [98, 53, 66]])

In [8]:
my_1st_data_frame = pd.DataFrame(my_data)
print(type(my_1st_data_frame))
my_1st_data_frame

<class 'pandas.core.frame.DataFrame'>

    0   1   2
0   8  24  67
1  87  79  48
2  10  94  52
3  98  53  66

In [10]:
my_row_index = ['CA', 'NY', 'AZ', 'TX']
my_col_index = ['Jan', 'Feb', 'Mar']
full_index = pd.DataFrame(my_data, index=my_row_index, columns=my_col_index)
full_index

     0   1   2
CA   8  24  67
NY  87  79  48
AZ  10  94  52
TX  98  53  66

    Jan  Feb  Mar
CA    8   24   67
NY   87   79   48
AZ   10   94   52
TX   98   53   66

In [43]:
csv_df = pd.read_csv(r"example.csv")
print()
print(csv_df)
print()
print('columns', csv_df.columns)  # header of columns
print()
print('rows', list(csv_df.index))  # list of row index
print()
print(csv_df.head(2))
print()
print(csv_df.tail(1))
print()
print(csv_df.info())
print()
print(csv_df.describe())

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

columns Index(['a', 'b', 'c', 'd'], dtype='object')

rows [0, 1, 2, 3]

   a  b  c  d
0  0  1  2  3
1  4  5  6  7

    a   b   c   d
3  12  13  14  15

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       4 non-null      int64
 3   d       4 non-null      int64
dtypes: int64(4)
memory usage: 260.0 bytes
None

               a          b          c          d
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

In [39]:
csv_df = pd.read_csv(r"example.csv")
print(csv_df.describe())

               a          b          c          d
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

In [44]:
csv_df = pd.read_csv(r"example.csv")
print(csv_df.describe().transpose())

   count  mean       std  min  25%  50%   75%   max
a    4.0   6.0  5.163978  0.0  3.0  6.0   9.0  12.0
b    4.0   7.0  5.163978  1.0  4.0  7.0  10.0  13.0
c    4.0   8.0  5.163978  2.0  5.0  8.0  11.0  14.0
d    4.0   9.0  5.163978  3.0  6.0  9.0  12.0  15.0

In [76]:
csv_df = pd.read_csv(r"example.csv")
print(csv_df)
print()
type(csv_df['a'])
print(list(csv_df['a']))
print(csv_df['a'] + csv_df['b'])
print(csv_df['a'].add(csv_df['b'], fill_value=0))
print(csv_df[['a', 'b']])
csv_df['sumab'] = csv_df['a'] + csv_df['b']
csv_df['mulab'] = csv_df['a'] * csv_df['b']
csv_df['div'] = csv_df['a'] / csv_df['b']
print()
print(csv_df)
print()
csv_df.drop('div', axis=1, inplace=True)  # drop column
csv_df.drop(0, axis=0, inplace=True)  # drop row with index 0
print(csv_df)
csv_df.at[1, 'c'] = None
csv_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

[0, 4, 8, 12]
0     1
1     9
2    17
3    25
dtype: int64
0     1
1     9
2    17
3    25
dtype: int64
    a   b
0   0   1
1   4   5
2   8   9
3  12  13

    a   b   c   d  sumab  mulab       div
0   0   1   2   3      1      0  0.000000
1   4   5   6   7      9     20  0.800000
2   8   9  10  11     17     72  0.888889
3  12  13  14  15     25    156  0.923077

    a   b   c   d  sumab  mulab
1   4   5   6   7      9     20
2   8   9  10  11     17     72
3  12  13  14  15     25    156

    a   b     c   d  sumab  mulab
1   4   5   NaN   7      9     20
2   8   9  10.0  11     17     72
3  12  13  14.0  15     25    156