In [1]:
import numpy as np
import pandas as pd

In [4]:
np.random.seed(100)
my_data = np.random.randint(0, 101, (4, 3))
my_data

array([[ 8, 24, 67],
       [87, 79, 48],
       [10, 94, 52],
       [98, 53, 66]])

In [8]:
my_1st_data_frame = pd.DataFrame(my_data)
print(type(my_1st_data_frame))
my_1st_data_frame

<class 'pandas.core.frame.DataFrame'>

    0   1   2
0   8  24  67
1  87  79  48
2  10  94  52
3  98  53  66

In [10]:
my_row_index = ['CA', 'NY', 'AZ', 'TX']
my_col_index = ['Jan', 'Feb', 'Mar']
full_index = pd.DataFrame(my_data, index=my_row_index, columns=my_col_index)
full_index

     0   1   2
CA   8  24  67
NY  87  79  48
AZ  10  94  52
TX  98  53  66

    Jan  Feb  Mar
CA    8   24   67
NY   87   79   48
AZ   10   94   52
TX   98   53   66

In [43]:
csv_df = pd.read_csv(r"example.csv")
print()
print(csv_df)
print()
print('columns', csv_df.columns)  # header of columns
print()
print('rows', list(csv_df.index))  # list of row index
print()
print(csv_df.head(2))
print()
print(csv_df.tail(1))
print()
print(csv_df.info())
print()
print(csv_df.describe())

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

columns Index(['a', 'b', 'c', 'd'], dtype='object')

rows [0, 1, 2, 3]

   a  b  c  d
0  0  1  2  3
1  4  5  6  7

    a   b   c   d
3  12  13  14  15

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       4 non-null      int64
 3   d       4 non-null      int64
dtypes: int64(4)
memory usage: 260.0 bytes
None

               a          b          c          d
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

In [39]:
csv_df = pd.read_csv(r"example.csv")
print(csv_df.describe())

               a          b          c          d
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

In [44]:
csv_df = pd.read_csv(r"example.csv")
print(csv_df.describe().transpose())

   count  mean       std  min  25%  50%   75%   max
a    4.0   6.0  5.163978  0.0  3.0  6.0   9.0  12.0
b    4.0   7.0  5.163978  1.0  4.0  7.0  10.0  13.0
c    4.0   8.0  5.163978  2.0  5.0  8.0  11.0  14.0
d    4.0   9.0  5.163978  3.0  6.0  9.0  12.0  15.0

In [76]:
csv_df = pd.read_csv(r"example.csv")
print(csv_df)
print()
type(csv_df['a'])
print(list(csv_df['a']))
print(csv_df['a'] + csv_df['b'])
print(csv_df['a'].add(csv_df['b'], fill_value=0))
print(csv_df[['a', 'b']])
csv_df['sumab'] = csv_df['a'] + csv_df['b']
csv_df['mulab'] = csv_df['a'] * csv_df['b']
csv_df['div'] = csv_df['a'] / csv_df['b']
print()
print(csv_df)
print()
csv_df.drop('div', axis=1, inplace=True)  # drop column
csv_df.drop(0, axis=0, inplace=True)  # drop row with index 0
print(csv_df)
csv_df.at[1, 'c'] = None
csv_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

[0, 4, 8, 12]
0     1
1     9
2    17
3    25
dtype: int64
0     1
1     9
2    17
3    25
dtype: int64
    a   b
0   0   1
1   4   5
2   8   9
3  12  13

    a   b   c   d  sumab  mulab       div
0   0   1   2   3      1      0  0.000000
1   4   5   6   7      9     20  0.800000
2   8   9  10  11     17     72  0.888889
3  12  13  14  15     25    156  0.923077

    a   b   c   d  sumab  mulab
1   4   5   6   7      9     20
2   8   9  10  11     17     72
3  12  13  14  15     25    156

    a   b     c   d  sumab  mulab
1   4   5   NaN   7      9     20
2   8   9  10.0  11     17     72
3  12  13  14.0  15     25    156

In [110]:
tips = pd.read_csv(r"tips.csv")
#print(tips.describe())
#print(tips.info())
new_df = tips[['Payer Name', 'total_bill', 'tip']]
new_df['total_payment'] = new_df['total_bill'] + new_df['tip']
new_df['tip_percentage%'] = new_df['tip'] / new_df['total_bill'] * 100
new_df['tip2'] = new_df['tip']
new_df.drop(columns=['tip2'], axis=0, inplace=True)  # remove column called tips
new_df.drop(index=0, axis=1, inplace=True)  # remove row index 0
print(new_df)
new_df['total_payment'] = new_df['total_payment'] + 20 
new_df['total_payment'] = new_df['total_payment'] * 1.1
new_df

           Payer Name  total_bill   tip  total_payment  tip_percentage%
1      Douglas Tucker       10.34  1.66          12.00        16.054159
2      Travis Walters       21.01  3.50          24.51        16.658734
3    Nathaniel Harris       23.68  3.31          26.99        13.978041
4        Tonya Carter       24.59  3.61          28.20        14.680765
5          Erik Smith       25.29  4.71          30.00        18.623962
..                ...         ...   ...            ...              ...
239     Michael Avila       29.03  5.92          34.95        20.392697
240    Monica Sanders       27.18  2.00          29.18         7.358352
241        Keith Wong       22.67  2.00          24.67         8.822232
242      Dennis Dixon       17.82  1.75          19.57         9.820426
243   Michelle Hardin       18.78  3.00          21.78        15.974441

[243 rows x 5 columns]

C:\Users\User\AppData\Local\Temp\ipykernel_15048\1866142337.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['total_payment'] = new_df['total_bill'] + new_df['tip']
C:\Users\User\AppData\Local\Temp\ipykernel_15048\1866142337.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tip_percentage%'] = new_df['tip'] / new_df['total_bill'] * 100
C:\Users\User\AppData\Local\Temp\ipykernel_15048\1866142337.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tip2'] = new_df['tip']
C:\Users\User\AppData\Local\Temp\ipykernel_15048\1866142337.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(columns=['tip2'], axis=0, inplace=True)  # remove column called tips
C:\Users\User\AppData\Local\Temp\ipykernel_15048\1866142337.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(index=0, axis=1, inplace=True)  # remove row index 0
C:\Users\User\AppData\Local\Temp\ipykernel_15048\1866142337.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['total_payment'] = new_df['total_payment'] + 20
C:\Users\User\AppData\Local\Temp\ipykernel_15048\1866142337.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['total_payment'] = new_df['total_payment'] * 1.1

           Payer Name  total_bill   tip  total_payment  tip_percentage%
1      Douglas Tucker       10.34  1.66         35.200        16.054159
2      Travis Walters       21.01  3.50         48.961        16.658734
3    Nathaniel Harris       23.68  3.31         51.689        13.978041
4        Tonya Carter       24.59  3.61         53.020        14.680765
5          Erik Smith       25.29  4.71         55.000        18.623962
..                ...         ...   ...            ...              ...
239     Michael Avila       29.03  5.92         60.445        20.392697
240    Monica Sanders       27.18  2.00         54.098         7.358352
241        Keith Wong       22.67  2.00         49.137         8.822232
242      Dennis Dixon       17.82  1.75         43.527         9.820426
243   Michelle Hardin       18.78  3.00         45.958        15.974441

[243 rows x 5 columns]

In [151]:
tips = pd.read_csv(r"tips.csv")
#print(tips.head(3))
tips.set_index('Payment ID', inplace=True)  # column could be index or column, not BOTH
# does not change the order of the rows

#tips.set_index('size', inplace=True)  # not unique, not recommended
print(tips.iloc[0:2][['sex', 'smoker', 'day', 'time', 'size']] )  # index location by number
print()
print(tips.head(5)[['sex', 'smoker', 'day', 'time', 'size']])
print()
print(tips.loc['Sun4458'][['sex', 'smoker', 'day', 'time', 'size']])  # by key value
print()
print(tips.loc['Sun4458':'Sun2251'][['sex', 'smoker', 'day', 'time', 'size']])  # by key value range
print()
print(tips.loc[['Sun4458','Sun2251']][['sex', 'smoker', 'day', 'time', 'size']])  # by key value range
print()
tips.reset_index(inplace=True)  # back to numberic auto increment
print(tips.head(3)[['Payment ID', 'sex', 'smoker', 'day', 'time', 'size']])

               sex smoker  day    time  size
Payment ID
Sun2959     Female     No  Sun  Dinner     2
Sun4608       Male     No  Sun  Dinner     3

               sex smoker  day    time  size
Payment ID
Sun2959     Female     No  Sun  Dinner     2
Sun4608       Male     No  Sun  Dinner     3
Sun4458       Male     No  Sun  Dinner     3
Sun5260       Male     No  Sun  Dinner     2
Sun2251     Female     No  Sun  Dinner     4

sex         Male
smoker        No
day          Sun
time      Dinner
size           3
Name: Sun4458, dtype: object

               sex smoker  day    time  size
Payment ID
Sun4458       Male     No  Sun  Dinner     3
Sun5260       Male     No  Sun  Dinner     2
Sun2251     Female     No  Sun  Dinner     4

               sex smoker  day    time  size
Payment ID
Sun4458       Male     No  Sun  Dinner     3
Sun2251     Female     No  Sun  Dinner     4

  Payment ID     sex smoker  day    time  size
0    Sun2959  Female     No  Sun  Dinner     2
1    Sun4608    Male     No  Sun  Dinner     3
2    Sun4458    Male     No  Sun  Dinner     3

In [161]:
tips = pd.read_csv(r"tips.csv")
pd_head = tips.head(1)
pd_tail = tips.tail(1)
pd.concat([pd_head, pd_tail, pd_tail])
row = {'total_bill': 23.0, 'tip': 2.4, 'sex': 'Male', 'smoker': 'yes', 'day':'Sun', 'time':'Dinner',
       'size':3, 'price_per_person': 4, 'Payer Name': 'danny', 'CC Number' :3560325168603412, 'Payment ID' :'Sun9999'}
pd_new = pd.DataFrame([row])
pd.concat([tips, pd.DataFrame([row])], ignore_index=True).tail()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672
244,23.00,2.40,Male,yes,Sun,Dinner,3,4.00,danny,3560325168603412,Sun9999

In [190]:
my_row_index = ['CA', 'NY', 'AZ', 'TX']
my_col_index = ['Jan', 'Feb', 'Mar']
full_index = pd.DataFrame(my_data, index=my_row_index, columns=my_col_index)
print(type(full_index['Jan'] > 50))

print(full_index[full_index['Jan'] > 50])  # condition for data frame
print()
print(full_index[(full_index['Jan'] > 8) & (full_index['Mar'] > 50)])  # condition for data frame &
print()
print(full_index[(full_index['Jan'] > 88) | (full_index['Mar'] > 50)])  # condition for data frame |
print()
print(full_index[~full_index['Feb'].isin([79, 53])])  # condition for data frame |
print()
print(full_index[full_index['Feb'].between(24, 79, inclusive='neither')])  # between, default = both
print()
full_index

<class 'pandas.core.series.Series'>
    Jan  Feb  Mar
NY   87   79   48
TX   98   53   66

    Jan  Feb  Mar
AZ   10   94   52
TX   98   53   66

    Jan  Feb  Mar
CA    8   24   67
AZ   10   94   52
TX   98   53   66

    Jan  Feb  Mar
CA    8   24   67
AZ   10   94   52

    Jan  Feb  Mar
TX   98   53   66

    Jan  Feb  Mar
CA    8   24   67
NY   87   79   48
AZ   10   94   52
TX   98   53   66